<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="Atom"> <action name="Execute">
                <execute>env ATOM_DISABLE_SHELLING_OUT_FOR_ENVIRONMENT=false /usr/bin/atom</execute>
            </action> </item>
            <item label="Electron"> <action name="Execute">
                <execute>electron5</execute>
            </action> </item>
            <item label="IDLE (Python IDE)"> <action name="Execute">
                <execute>idle</execute>
            </action> </item>
            <item label="Python"> <action name="Execute">
                <execute>xterm -e python</execute>
            </action> </item>
            <item label="Python (v2.7)"> <action name="Execute">
                <execute>xterm -e python2.7</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="Nano"> <action name="Execute">
                <execute>xterm -e nano</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                <execute>xterm -e vim</execute>
            </action> </item>
        </menu>
        <menu id="18" label="Games">
            <menu id="9" label="Adventure">
                <item label="Sclient"> <action name="Execute">
                    <execute>sclient</execute>
                </action> </item>
            </menu>
            <menu id="10" label="Arcade">
                <item label="PacMan"> <action name="Execute">
                    <execute>pacman</execute>
                </action> </item>
            </menu>
        </menu>
        <menu id="6" label="Graphics">
            <item label="dotty"> <action name="Execute">
                <execute>dotty</execute>
            </action> </item>
            <item label="Flameshot"> <action name="Execute">
                <execute>flameshot</execute>
            </action> </item>
            <item label="GNU Image Manipulation Program"> <action name="Execute">
                <execute>gimp-2.10</execute>
            </action> </item>
            <item label="Krita KDE Bitmap Graphics Editor"> <action name="Execute">
                <execute>krita</execute>
            </action> </item>
            <item label="lefty"> <action name="Execute">
                <execute>lefty</execute>
            </action> </item>
            <item label="The GIMP"> <action name="Execute">
                <execute>gimp</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="ALSA mixer"> <action name="Execute">
                <execute>xterm -e alsamixer</execute>
            </action> </item>
            <item label="Celluloid"> <action name="Execute">
                <execute>celluloid</execute>
            </action> </item>
            <item label="mpv Media Player"> <action name="Execute">
                <execute>mpv --player-operation-mode=pseudo-gui</execute>
            </action> </item>
            <item label="Qt V4L2 test Utility"> <action name="Execute">
                <execute>qv4l2</execute>
            </action> </item>
            <item label="Qt V4L2 video capture utility"> <action name="Execute">
                <execute>qvidcap</execute>
            </action> </item>
            <item label="SimpleScreenRecorder"> <action name="Execute">
                <execute>simplescreenrecorder --logfile</execute>
            </action> </item>
            <item label="Spotify"> <action name="Execute">
                <execute>spotify</execute>
            </action> </item>
            <item label="Spotify (adblock)"> <action name="Execute">
                <execute>env LD_PRELOAD=/usr/lib/spotify-adblock.so spotify</execute>
            </action> </item>
            <item label="Stremio"> <action name="Execute">
                <execute>stremio</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Avahi SSH Server Browser"> <action name="Execute">
                <execute>bssh</execute>
            </action> </item>
            <item label="Avahi VNC Server Browser"> <action name="Execute">
                <execute>bvnc</execute>
            </action> </item>
            <item label="Brave"> <action name="Execute">
                <execute>brave</execute>
            </action> </item>
            <item label="FTP"> <action name="Execute">
                <execute>xterm -e ftp</execute>
            </action> </item>
            <item label="Mail Reader"> <action name="Execute">
                <execute>exo-open --launch MailReader</execute>
            </action> </item>
            <item label="qutebrowser"> <action name="Execute">
                <execute>qutebrowser</execute>
            </action> </item>
            <item label="Talk"> <action name="Execute">
                <execute>xterm -e talk</execute>
            </action> </item>
            <item label="Telnet"> <action name="Execute">
                <execute>xterm -e telnet</execute>
            </action> </item>
            <item label="TkVNC"> <action name="Execute">
                <execute>xterm -e tkvnc</execute>
            </action> </item>
            <item label="Web Browser"> <action name="Execute">
                <execute>exo-open --launch WebBrowser</execute>
            </action> </item>
        </menu>
        <menu id="4" label="Science">
            <item label="bc"> <action name="Execute">
                <execute>xterm -e bc</execute>
            </action> </item>
            <item label="dc"> <action name="Execute">
                <execute>xterm -e dc</execute>
            </action> </item>
            <item label="Qalculate!"> <action name="Execute">
                <execute>qalculate-gtk</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="GIT"> <action name="Execute">
                <execute>xterm -e git</execute>
            </action> </item>
            <item label="Thunar File Manager"> <action name="Execute">
                <execute>thunar</execute>
            </action> </item>
            <item label="urxvt"> <action name="Execute">
                <execute>urxvt</execute>
            </action> </item>
            <item label="urxvt (client)"> <action name="Execute">
                <execute>urxvtc</execute>
            </action> </item>
            <item label="urxvt (tabbed)"> <action name="Execute">
                <execute>urxvt-tabbed</execute>
            </action> </item>
            <item label="UXTerm"> <action name="Execute">
                <execute>uxterm</execute>
            </action> </item>
            <item label="Xterm"> <action name="Execute">
                <execute>xterm</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <menu id="21" label="GNOME">
                    <item label="Add/Remove Software"> <action name="Execute">
                        <execute>pamac-manager</execute>
                    </action> </item>
                    <item label="Software Update"> <action name="Execute">
                        <execute>pamac-manager --updates</execute>
                    </action> </item>
                </menu>
                <item label="Customize Look and Feel"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="File Manager Settings"> <action name="Execute">
                    <execute>thunar-settings</execute>
                </action> </item>
                <item label="Manage Printing"> <action name="Execute">
                    <execute>xdg-open http://localhost:631/</execute>
                </action> </item>
                <item label="nitrogen"> <action name="Execute">
                    <execute>nitrogen</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Openbox Settings"> <action name="Execute">
                    <execute>obconf-qt</execute>
                </action> </item>
                <item label="Preferred Applications"> <action name="Execute">
                    <execute>exo-preferred-applications</execute>
                </action> </item>
                <item label="Tint2 Settings"> <action name="Execute">
                    <execute>tint2conf</execute>
                </action> </item>
            </menu>
            <item label="Applications (bauh)"> <action name="Execute">
                <execute>bauh</execute>
            </action> </item>
            <item label="Applications (bauh-tray)"> <action name="Execute">
                <execute>bauh-tray</execute>
            </action> </item>
            <item label="Avahi Zeroconf Browser"> <action name="Execute">
                <execute>avahi-discover</execute>
            </action> </item>
            <item label="Bulk Rename"> <action name="Execute">
                <execute>/usr/lib/Thunar/ThunarBulkRename</execute>
            </action> </item>
            <item label="GParted"> <action name="Execute">
                <execute>gparted</execute>
            </action> </item>
            <item label="Hardware Locality lstopo"> <action name="Execute">
                <execute>lstopo</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e pstree</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e pstree.x11</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e /usr/bin/pstree.x11</execute>
            </action> </item>
            <item label="Tint2"> <action name="Execute">
                <execute>tint2</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>xterm -e top</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="About Xfce"> <action name="Execute">
                <execute>xfce4-about</execute>
            </action> </item>
            <item label="File Manager"> <action name="Execute">
                <execute>exo-open --launch FileManager</execute>
            </action> </item>
            <item label="Galculator"> <action name="Execute">
                <execute>galculator</execute>
            </action> </item>
            <item label="Info"> <action name="Execute">
                <execute>xterm -e info</execute>
            </action> </item>
            <item label="Terminal Emulator"> <action name="Execute">
                <execute>exo-open --launch TerminalEmulator</execute>
            </action> </item>
            <item label="Xarchiver"> <action name="Execute">
                <execute>xarchiver</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
